@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: MongxYamiyomiL;
  background-color: #FFF8E8;
}

@font-face {
  font-family: "MongxYamiyomiL";
  font-weight: 200;
  src: url("http://localhost:3000/assets/font/MongxYamiyomiL.ttf") format("truetype");
}

::-webkit-scrollbar {
  display: none;
}