@charset 'utf-8';
/*reset*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --fc-button-active-bg-color: #fffefa;
}
.fc-day-sun a,
.fc-day-sat a {
  color: #d32f2f;
}

/* Calendar.css 또는 적절한 CSS 파일에 추가 */
.fc-button {
  border: none !important; /* 테두리 제거 */
}

.fc-button:focus {
  outline: none !important; /* 포커스 시 아웃라인 제거 */
}

.fc-button.fc-prev-button,
.fc-button.fc-next-button {
  box-shadow: none !important; /* 이전/다음 버튼에 그림자 제거 */
}

.fc-toolbar-title {
  font-size: 20px !important; /* 원하는 글씨 크기 */
  font-weight: bold; /* 글씨 굵기 */
  color: #a17762; /* 글씨 색상 */
}
.fc-daygrid-day-other {
  display: none !important;
}
.fc-daygrid-day.fc-day-today {
  color: #f9a825;
  font-weight: bold !important;
  background-color: #fff9c4 !important;
}
.fc .fc-button {
  background-color: #fffefa;
  color: #a17762;
  border: none;
}
.fc-daygrid-day-frame {
  border: none !important; /* 격자선 제거 */
}

/* 각 날짜 셀에 라운드 적용 */
.fc-daygrid-day {
  border-radius: 10px;
  overflow: hidden;
}

/* 기본적으로 테두리를 모두 투명하게 처리 */
.fc .fc-col-header-cell,
.fc .fc-daygrid-day,
.fc-theme-standard td,
.fc-theme-standard th {
  border: none !important;
  box-shadow: none !important;
}

/* 이벤트가 있는 셀에도 테두리와 그림자 제거 */
.fc-daygrid-event {
  border: none !important;
  box-shadow: none !important;
}

/* 달력 전체의 바깥 테두리 제거 */
.fc .fc-scrollgrid {
  border: none !important;
}

/* 일, 주, 월 view에 따른 세부 조정 */
.fc-theme-standard td,
.fc-theme-standard th {
  border-color: transparent !important; /* 모든 테두리를 투명하게 설정 */
}

.fc .fc-button:hover {
  background-color: transparent;
}

.fc-theme-standard .fc-list-day-cushion {
  background-color: #fffefa;
  color: #a17762;
}
.fc-list-event-title {
  color: #2e7d32;
}
.fc-list-event-time {
}

.fc-theme-standard .fc-list {
  border: none;
}
